body {
	background: #b72001;
	font-family: Roboto;
	color: white;
}
h1 {
	font-size: 3em;
	margin: 30px;
}
ul {
	list-style: none;
}
#menu {
	font-size: 1.2em;
}
#menu li {
	padding: 3px 0;
}
.bold {
	font-weight: 700;
}